.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
app/.env
app/migrations/
alembic.ini
docs_build
venv
docs.zip
archive.zip
favenv39/
.env
# vim temporary files
*~
.*.sw?
test.db
.deta/
load_data.py